[Desktop Entry]
Name=Linkwiz
Exec=/usr/bin/linkwiz %U
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Categories=Network
NoDisplay=true
Terminal=true
